:root {
    --card-bg-color: #ffffff;
    --bg-color: #fafafa;
    --border-color: #e5e5e5;
    --primary-text: #262626;
    --secondary-text:#454545;
    --font-fam: "Roboto", sans-serif;
    --font-size-headers: 1.5rem;
    --font-weight-headers: 600;
}

h1, h2, h3 {
    font-size: var(--font-size-headers);
    font-weight: var(--font-weight-headers);
}

p {
    line-height: 1.6;
}

address {
    font-style: normal;
}

a {
    color: var(--secondary-text);
    text-decoration: none;

    &:hover {
        color: var(--primary-text);
    }
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 1rem;
}

body {
    background-color: var(--bg-color);
    font-family: var(--font-fam);
}

nav {
    border-bottom: 1px solid var(--border-color);
    background-color: var(--card-bg-color);
    padding: 1rem;
    font-size: var(--font-size-headers);
    font-weight: var(--font-weight-headers);
}

nav a {
    padding: 5rem 1rem;

    &.current {
        color: var(--primary-text);
    }
}

footer {
    text-align: center;
}

.blogpost-card {
    padding: 1.25rem 0;
    border-bottom: 1px solid var(--border-color);
}

.blogpost-card:last-child {
    border-bottom: none;
}

.blogpost-card-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 1rem;

    a {
        color: var(--primary-text);
        text-decoration: none;
    }
}

.project-card {
    padding: 1.25rem 0;
    border-bottom: 1px solid var(--border-color);
}

.project-card:last-child {
    border-bottom: none;
}

.project-card-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 1rem;
}

.contact-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-items: baseline;
    gap: 1rem;
}